<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="row">
                <div class="column column-80">
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                    {{ include('::status-panel.html.twig') }}
                </div>
                {% block menu %}
                <div class="column column-20">
                    {{ include('::menu.html.twig') }}
                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
