{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block content %}
    <h1>Login</h1>
    {{ form(form) }}
{% endblock %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="errors">
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}
