body {
    background: #F5F5F5;
    margin-top: 2em;
}

.content {
    background-color: white;
    padding: 1.4rem 2rem;
    border-radius: 0.4rem;
}

.status-panel {
    margin: 0;
    list-style: none;
}

.status-panel li {
    font-weight: bold;
    float: left;
    margin: 1em;
}

.errors {
    color: #9b4dca;
    list-style: none;
}

.menu .button {
    display: block;
    width: 100%;
}

.menu hr {
    display: block;
    width: 25%;
    border-color: #999999;
    margin: 1em auto;
}

.status {
    font-weight: normal;
    font-size: 1em;
    padding: 0.2em 0.4em;
    color: white;
    border-radius: 0.2em;
    font-family: monospace;
    background-color: #999999;
}

.status.on {  background-color: green; }
.status.off {  background-color: red; }

.content form {
    margin: 0;
}
